body {
	background-color: #efefef;
}

.main {
	background-color: white;
	margin: 30px;
}

.btn-publish {
	margin-bottom: 10px;
	float: right;
}

.mod-body p {
	padding: 10px 0;
	color: #999;
}

.media-object {
	width: 38px;
	height: 38px;
}

.user-body {
	padding-top: 10px;
}

.comment-body {
	padding-top: 0;
}

.text-desc {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.list-group {
	margin-top: 15px;
}

.question-edit {
	color: #999;
	font-size: 13px;
	display: block;
	margin-bottom: 15px;
}

.question-title{
	font-size: 25px;
}

.h2-desc {
	font-size: 20px;
}

.jumbotron {
	margin: 10% auto;
}

.btn-comment-submit {
	margin: 20px 0;
}

.text-comment {
	margin: 10px 0;
}

.comment-operate {
	color: #999;
	font-size: 15px;
	margin-top: 5px;
}



.comment-item{
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.question-main-content{
	border-right: 1px solid #eee;
}

.btn-sub-comment-submit{
	margin-top: 10px;
}
.sub-comments .well {
	padding-bottom: 60px;
}

.comment-operate .operate {
	cursor: pointer;
	border-radius: 4px 0 0 4px;
	padding: 0 5px;
}

.comment-operate .operate:hover {
	color: rgb(73, 158, 243);
}

.question-side-bar{
	margin-top: 30px;
}
.question-tag{
	margin-right: 5px;
	white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
}
.community-tag {
    text-decoration-line: none;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    border-radius: 4px;
    margin: 4px;
}









