<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>码农社区</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/community.css">
</head>

<body>
	<div class="jumbotron text-center">
		<h1>出错啦！！！</h1>
		<p th:text="${message}"></p>
		<p>
			<a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a>
		</p>
	</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>