<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>码农社区</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/community.css">
	<script>
		window.onload = function(){
			if(window.localStorage.getItem("closable")){
				window.close();
				window.localStorage.removeItem();
			}
		}
	
	</script>
</head>

<body>
	<!-- 导航栏 -->
	<div class="container-fluid" th:insert="~{navigation :: navbar}"></div>
	<!-- 话题列表 -->
	<div class="container-fluid main">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9" th:insert="~{profiles :: questions}"></div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<div class="aw-mod publish-help">
					<div class="mod-head">
						<h3>热门话题</h3>
					</div>
				</div>
			</div>


		</div>
	</div>


</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/community.js"></script>
<script src="/js/moment.js"></script>
</html>