<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${question.title}"></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/community.css">
</head>

<body>
	<div class="container-fluid" th:insert="~{navigation :: navbar}"></div>


	<div class="container-fluid main">
		<div class="row">
			<!-- 左侧：话题列表 -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 question-main-content">
				<!-- 话题整体信息 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!-- 标题 -->
					<h1 class="question-title" th:text="${question.title}"></h1>
					<!-- 问题信息 -->
					<span class="text-desc">
						作者：<span th:text="${question.user.name}"></span> |
						发布于：<span class="time" th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> | 
						阅读数：<span th:text="${question.viewCount}"></span> |
					</span>
					<hr>
					<!-- 问题描述 -->
					<p th:text="${question.description}"></p>
					<hr>
				</div>

				<!-- 问题标签 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 question-tags">
					<span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
						<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
						<span th:text="${tag}"></span> 
					</span>
					<hr>
				</div>
								

				
				<!-- 编辑按钮 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a th:href="'/publish/'+${question.id}" th:if="${session.user != null && session.user.id == question.creator}"> 
						<span class="glyphicon glyphicon-pencil quetion-edit" aria-hidden="true">编辑</span>
					</a>
				</div>


				<!-- 回复展示 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3>
						<span th:text="${question.commentCount}"></span>个回复
					</h3>
					<br>
					<!-- 回复人信息+内容+二级评论 -->
					<div class="media comment-item" th:each="comment:${comments}">
						<a class="pull-left" href="#"> <!-- 头像 --> <img
							class="media-object img-rounded"
							th:src="${comment.user.avatarUrl}">
						</a>
						<div class="media-body comment-body">
							<h5 class="media-heading">
								<a th:text="${comment.user.name}"></a>
								<!-- 用户名 -->
							</h5>
							<span th:text="${comment.content}"></span>

							<!-- 社交操作 -->
							<div class="comment-operate" th:data-id="${comment.id}">
								<span class="operate operate-like">
									<span class="glyphicon glyphicon-thumbs-up icon icon-like"></span>
									<span class="like-count" th:text="${comment.likeCount}"></span> 
								</span>

								<span class="operate operate-comment" data-toggle="collapse"
									th:data-target="${'#cmt-'+comment.id}" aria-expanded="false">
									<span
										class="glyphicon glyphicon-comment icon icon-comment" > 
									</span> 
									<span class="comment-count" th:text="${comment.commentCount}"></span> 
								</span>

								<span class="pull-right time"
									th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}">
								</span>
							</div>

							<!-- 二级评论 -->
							<div class="collapse sub-comments" th:id="${'cmt-'+comment.id}">
								<div class="well">
							
									

								
								</div>
							</div>

						</div>

					</div>


				</div>



				<!-- 当前用户信息 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="media" th:if="${session.user!=null}">
						<a class="pull-left" href="#"> <!-- 头像 --> <img
							class="media-object img-rounded"
							th:src="${session.user.avatarUrl}">
						</a>
						<div class="media-body user-body">
							<h5 class="media-heading">
								<!-- 用户名 -->
								<a th:text="${session.user.name}"></a>
							</h5>
						</div>
					</div>
				</div>
				
				<!-- 回复操作 -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!-- 隐藏节点:ID -->
					<input type="hidden" id="questionId" th:value="${question.id}">
					<!-- 回复框 -->
					<textarea class="form-control text-comment" rows="10"></textarea>
					<!-- 回复按钮 -->
					<button type="button" class="pull-right btn btn-success btn-comment-submit">回复</button>
				</div>
			</div>
			
			
			
			<!-- 右侧：发起人信息 -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 question-side-bar">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="mod-head">
						<h4 class="">发起人</h4>
						<div class="media">
							<!-- 头像 -->
							<a class="pull-left" href="#"> <img class="media-object img-rounded" th:src="${question.user.avatarUrl}"></img></a>
							<div class="media-body user-body">
								<h5 class="media-heading">
									<!-- 用户名 -->
									<a th:text="${question.user.name}"></a>
								</h5>
							</div>
							<hr />
						</div>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4>相关问题</h4>
					<ul th:each="relatedQuestion:${relatedQuestions}">
						<li>
							<a th:text="${relatedQuestion.title}" 
								th:href="@{'/question/'+${relatedQuestion.id}}">
							</a>
						</li>
					</ul>
				</div>
			
			</div>


		</div>
	</div>


</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/community.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>